:root {
  --zigzag-bg: #e9b06b;
  --zigzag-fg: #e6a459;
  --zigzag-scale: 20vh;
}

.transition {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: transition 1.5s ease-in-out forwards;
  pointer-events: none;
}

.bottomTeeth,
.topTeeth {
  height: var(--zigzag-scale);
  background-color: transparent;
}

.bottomTeeth,
.topTeeth,
.transitionBody {
  width: 100%;
  background-size: var(--zigzag-scale) var(--zigzag-scale);
  background-position: calc(var(--zigzag-scale) * 0.5) 0, calc(var(--zigzag-scale) * 0.5) 0, 0 0, 0 0;
}

.bottomTeeth {
  background-image: 
    linear-gradient(-45deg, transparent, transparent),
    linear-gradient(45deg, transparent, transparent),
    linear-gradient(
      135deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      -135deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    );
}

.topTeeth {
  background-image: 
    linear-gradient(
      -45deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(135deg, transparent, transparent),
    linear-gradient(-135deg, transparent, transparent);
}

.transitionBody {
  height: calc(100vh + var(--zigzag-scale) * 2);
  background-color: var(--zigzag-bg);
  background-image: 
    linear-gradient(
      -45deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      -135deg,
      var(--zigzag-fg) 0,
      var(--zigzag-fg) 25%,
      transparent 25%,
      transparent 100%
    );
}

@keyframes transition {
  0% {
    top: 100vh;
  }
  40%,
  60% {
    top: calc(var(--zigzag-scale) * -3);
  }
  100% {
    top: calc(-100vh - (var(--zigzag-scale) * 4));
  }
}

